#titolo {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
  #sitill {
    text-align: right;
  }
  canvas {
    width: 80vw !important;
    height: 70vh !important;

  }
  div.tabella {
    text-align: center;
    font-size: 20px;
    height: 300px;
    overflow-y: auto;
    width: 50%;
    margin: 0px auto;
  }

  div.tabella, div.tabella tr{
    border: none;
  }

  #pippo,#pluto{
    width: 7vw;
    height: 7vh;
    text-align: center;
    font-size: 25px;

  }

  #pippo label{
    float:right;
  }

  #pluto label{
    float:left;
  }

  div.selection col{
    width: 1009px;
  }


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);



@media (max-width: 991px){

    #notForMobile h3{
      visibility:visible!important;
    }


    div.tabella{
      width:100%;
    }

    #chartDaily,#chartTotal{
      width:100%!important;
      margin-right: 0!important;
    }
}




/*----------Matte css container vari------------*/
 #radioDoT{
    text-align: center;
 }
 #containerGrafico,#containerGrafico2, #containerGrafico3, #containerGrafico4, #containerGrafico5, #containerGrafico6{
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
    color: white;
    font-family: 'Roboto', sans-serif;

 }

 .chart-container{
   margin-bottom: 30px;
   height: 100%;
 }

#dailyCharts{
  margin: 0 auto;
}

.pony{
  width: 100%;
  display: flex;
  justify-content: center;
}


.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
}


/*----------Table ------------*/
    table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
}


/* demo styles */


body{
  /*background: -webkit-linear-gradient(left, #4678F3 , #64D6EE);*/
  height: 100vh;
  /*background: linear-gradient(to right, #4678F3, #64D6EE) !important;*/
  background-color: rgb(22, 22, 22) !important;

  font-family: 'Roboto', sans-serif;
}

section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

td,th{
  text-align: center;
  font-size: 20px!important;
  color: white;
  text-decoration: none;

}

h1, h3{
  color: white;
}

/*radio button*/

.hungry .selection {
  margin-bottom: 1em;
}

.hungry .selection label {
  display: inline-block;
  background-color: #42b4d6;
  border-radius: 6px;
  color: #ffffff;
  padding: 0.5em;
  cursor: pointer;
}

.hungry .selection label:hover {
  background-color: #5fc0dc;
}

.hungry .selection input[type=radio] {
  display: none;
}

.hungry .selection input[type=radio]:checked ~ label {
  background-color: lightgreen;
}


.table-striped > tbody > tr:nth-child(n) > td, .table-striped > tbody > tr:nth-child(n) > th {
  background: rgba(76, 175, 80, 0.1);
}

/*animazione delle celle della tabella */
.cella{
     transition: transform .2s; /* Animation */
}
#colorLinkTable{
  color: white;
  text-decoration: none;

}
.cella:hover{
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.tabella{
    /*background: linear-gradient(to right, #020059, #1374b9);*/
    background-color: rgb(0, 0, 89);
    box-shadow: 1px 1px rgb(7, 14, 54);
    border: 3px solid rgb(0, 0, 89);


}



/*Barra di ricerca*/





form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}



hr{
  margin-bottom: 150px;
  top: 20px;
  height: 19px;
  background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);

}

#notForMobile h3{
    margin-top:50px;
    visibility: hidden;
    text-align:center;
    color: red;
}

footer{
  margin-top: 20px;
  color:white;
  text-align:center;
  width:100%;
  height:50px;
  font-size:18px;
}

#sourceData{
    margin-top:20px;
    font-size:20px;
    color:white;
    text-align:center;
}

/* Matte Navbar*/
.navbar {
  background-color: #4678F3;
  color: #f0f0f0!important;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

a, li:hover{
  background-color: #7599f7;
  border-radius: 10px;
}

tr td {
  border-bottom: none
}

#anchorin{
  width:100%;
  color:white;
  font-size: 25px;
  text-align: center;
  margin-bottom:10px;
  margin-top: 50px;

}

#anchorin a{
  text-decoration: none;
  color:white;
}

#anchorin a:hover{
  color:green;
}

#anchorout{
  display: none;
  color:white;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#anchorout a{
  text-decoration: none;
  color:white;
}

#anchorout a:hover{
  color:green;
}

#home1{
  color:white;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#home1 a{
  text-decoration: none;
  color:white;
}

#home1 a:hover{
  color:green;
}

#home1,#home1 a, #home1 img{
  width:60px;
  height: 50px;
  position:fixed;
  bottom:5%;
  right:2%;
}

#interno1, #interno2, #interno3, #interno4{
  display: none;
  color: white;
  width: fit-content;
  font-size: 14px;
  margin-left: 3%;
  margin-top: 1.5%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}




.immagineBackToTop{
  display:none;
}