#titolo{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  #infoPage{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  #situationAt {
    margin-top: -30px;
    margin-bottom: 30px;
  
  }
  canvas {
    width: 80vw !important;
    height: 70vh !important;
  
  }
  div.tabella {
    text-align: center;
    font-size: 20px;
    height: 300px;
    overflow-y: auto;
    width: 50%;
    margin: 0px auto;
  }
  
  div.tabella, div.tabella tr{
    border: none;
  }
  
  
  #pippo,#pluto{
    width: 7vw;
    height: 7vh;
    text-align: center;
    font-size: 25px;
  
  }
  
  #pippo label{
    float:right;
  }
  
  #pluto label{
    float:left;
  }
  
  div.selection col{
    width: 1009px;
  }
  
  
   /* Matte Navbar*/
   .navbar {
    background-color: #4678F3;
    color: #f0f0f0!important;
    font-family: 'Roboto', sans-serif;
    font-size: large;
  
  }
  a, li:hover{
  background-color: #7599f7;
  border-radius: 10px;
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  
  
  
  @media (max-width: 991px){
      #notForMobile h3{
        visibility:visible!important;
      }
  
      div.tabella{
        width:100%;
      }
  
      #chartDaily,#chartTotal{
        width:100%!important;
        margin-right: 0!important;
      }
  
      #notForMobile{
        display:block;
      }
  
      a.navbar-brand{
        margin-right:0!important;
      }
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  
  
  /*----------Matte css container vari------------*/
  #radioDoT{
    text-align: center;
  }
  #containerGrafico,#containerGrafico2, #containerGrafico3, #containerGrafico4, #containerGrafico5, #containerGrafico6{
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
    color: white;
    font-family: 'Roboto', sans-serif;
  
  }
  
  .chart-container{
   margin-bottom: 30px;
  }
  
  #dailyCharts{
  margin: 0 auto;
  }
  
  
  
  
  .radio__control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
  }
  
  
  /*----------Table ------------*/
    table{
  width:100%;
  
  }
  
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
  
  }
  
  
  /* demo styles */
  
  
  
  body{
  /*background: -webkit-linear-gradient(left, #4678F3 , #64D6EE);*/
  height: 100vh;
  /*background: linear-gradient(to right, #4678F3, #64D6EE) !important;*/
  background-color: rgb(22, 22, 22) !important;
  
  font-family: 'Roboto', sans-serif;
  }
  
  section{
  margin: 50px;
  }
  
  #tempoStimatoguarigione{
    color: white;
    margin-top: 5px;
    width: 100%;
    font-size: 20px !important;
    margin-bottom: 5px;
    text-align: center;
  }
  #tempoStimatoDeath{
    color: white;
    margin-top: 5px;
    width: 100%;
    font-size: 20px !important;
    margin-bottom: 5px;
    text-align: center;
  }
  
  
  
  /* follow me template */
  .made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
  }
  .made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
  }
  .made-with-love a {
  color: #fff;
  text-decoration: none;
  }
  .made-with-love a:hover {
  text-decoration: underline;
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  td,th{
  text-align: center;
  font-size: 20px!important;
  color: white;
  text-decoration: none;
  
  }
  
  h1, h3{
  color: white;
  }
  /*
  #labelGrafico1, #containerGrafico{
  color: rgb(255,127,80);
  }
  
  #containerGrafico2, #labelGrafico2{
  color: rgb(220,20,60);
  }
  
  #containerGrafico3, #labelGrafico3 {
  color: rgb(0,128,0);
  }*/
  
  /*radio button*/
  
  .hungry .selection {
  margin-bottom: 1em;
  }
  
  .hungry .selection label {
  display: inline-block;
  background-color: #42b4d6;
  border-radius: 6px;
  color: #ffffff;
  padding: 0.5em;
  cursor: pointer;
  }
  
  .hungry .selection label:hover {
  background-color: #5fc0dc;
  }
  
  .hungry .selection input[type=radio] {
  display: none;
  }
  
  .hungry .selection input[type=radio]:checked ~ label {
  background-color: lightgreen;
  }
  
  
  .table-striped > tbody > tr:nth-child(n) > td, .table-striped > tbody > tr:nth-child(n) > th {
  background: rgba(76, 175, 80, 0.1);
  }
  
  /*animazione delle celle della tabella */
  .cella{
     transition: transform .2s; /* Animation */
  }
  #colorLinkTable{
  color: white;
  text-decoration: none;
  
  }
  .cella:hover{
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  
  
  .tabella{
    background: linear-gradient(to right, #020059, #1374b9);
    box-shadow: 3px 3px darkblue;
  
  
  }
  
  
  tr td {
    border-bottom: none
  }
  /*Barra di ricerca*/
  
  
  
  
  
  form.example button:hover {
  background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
  content: "";
  clear: both;
  display: table;
  }
  
  
  
  .linea{
    position: relative;
    margin-bottom: 3%;
    margin-top: 5px;
    top: 20px;
    height: 19px;
    background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
  
  }
  
  .grafici{
    margin-bottom: 50px;
  
  }
  
  #notForMobile h3{
    margin-top:10px;
    visibility: hidden;
    text-align:center;
    color: red;
  }
  
  footer{
    color:white;
    text-align:center;
    width:100%;
    height:50px;
    font-size:18px;
    margin-top:20px;
  }
  
  
  
  .pony{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #sourceData{
      margin-top:-80px;
      font-size:20px;
      color:white;
      text-align:center;
  }
  
  .navbar {
    background-color: #4678F3;
    color: #f0f0f0!important;
    font-family: 'Roboto', sans-serif;
    font-size: large;
  }
  
  a, li:hover{
    background-color: #7599f7;
    border-radius: 10px;
    
  }
  
  #whoWeAre{
    margin-top: 2vh;
    margin-bottom: 4vh;
    color:#7599f7 ;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  
  }
  /*WHo we are custom */
  :root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  #customWhoWeAre {
    margin-top: 5vh;
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  }
  
  .logo-1 {
    color: white;
    animation: neon 3s infinite;
  }
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }



  .well.well-solid {
    color: white;
  }
  .well:hover .well-image {
    font-size: 60px;
  }
  .well-white {
    background-color: white;
    color: #454545;
  }
  .well-blue {
    background-color: #2980b9;
    color: white;
  }
  .well-light-blue {
    background-color: #3498db;
    color: white;
  }
  .mini-profile-widget .image-container .avatar {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background: white;
    padding: 4px;
    border: 1px solid #dddddd;
  }
  
  .btn-blue {
  background-color: #3498db;
  border-color: #3498db;
  color: white;
  }
  .btn-blue:hover,
  .btn-blue:visited {
  background-color: #2980b9;
  color: white;
  }
  .well-green {
    background-color: #27ae60;
    color: white;
  }
  .well-light-green {
    background-color: #2ecc71;
    color: white;
  }
  .btn-green {
    background-color: #2ecc71;
    border-color: #27ae60;
    color: white;
  }
  .btn-green:hover,
  .btn-green:visited {
    background-color: #27ae60;
    color: white;
  }
  
#interno1, #interno2, #interno3, #interno4{
  display: none;
  color: white;
  width: fit-content;
  font-size: 14px;
  margin-left: 3%;
  margin-top: 1.5%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}