<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- semantic UI -->
        <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <!--Chart js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <title>Sezioni delle previsioni</title>
    </head>
    <body>
        <a href="http://127.0.0.1:8000/"><button>Torna alla Home Page</button></a>

        <h1>Pagina delle previsioni</h1>
        <p>Grafici</p>

         

        <div id="totalCharts">
            <div class="containerGrafico4">
                Totale Positivi:
                <label id="labelGrafico4">0</label>
                <canvas id="chartTotalPos"></canvas>
            </div>
            <div class="containerGrafico5">
                Totale Morti:
                <label id="labelGrafico5">0</label>
                <canvas id="chartTotalMorti"></canvas>
            </div>
             <div class="containerGrafico6">
                Totale Guariti:
                <label id="labelGrafico6">0</label>
                <canvas id="chartTotalGuar"></canvas>
            </div>        
        </div>

        <script>
            {% block jquery%}
            $(document).ready(function () {
            
                var vettoreTotalPos = []
                var vettoreTotalMorti = []
                var vettoreTotalGuar = []
                var arrayDate = []
                {% for displaydata in datiDeiTotali %}
                    vettoreTotalPos.push({{displaydata.0}})
                    vettoreTotalMorti.push({{displaydata.1}})
                    vettoreTotalGuar.push({{displaydata.2}})
                    //console.log({{displaydata.0}})
                {% endfor %}

               
                {% for displaydata in datiDeiNuovi%}
                    var name = '{{displaydata.3}}'
                    var nameCleaned = name.replace(/\s/g, '-')
                    arrayDate.push(nameCleaned)
                    //console.log({{displaydata.1}})
                {% endfor %}
                
         

                //quarta label
                $("#labelGrafico4").text(vettoreTotalPos.pop());
                //quinta label
                $("#labelGrafico5").text(vettoreTotalPos.pop());
                //sesta label
                $("#labelGrafico6").text(vettoreTotalPos.pop());
            
            {% endblock %}

            function creaGrafico(arrayValoriCovid, arrayDate, idCanvas, label){
                var ctx = document.getElementById(idCanvas).getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: arrayDate, //['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']
                        datasets: [{
                            label: label,
                            data: arrayValoriCovid,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
       

            creaGrafico(vettoreTotalPos, arrayDate, "chartTotalPos","Total Cases");
            creaGrafico(vettoreTotalMorti, arrayDate, "chartTotalMorti","Total Deaths");
            creaGrafico(vettoreTotalGuar, arrayDate, "chartTotalGuar","Total Recovereds");

           });
        </script>



    </body>
</html>