<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Covid-19's Data - Our Forecast</title>
    <meta name="description" content="The purpose of this site is to show Covid-19 charts, trend and forecast.">
    {% load static %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'static/coronawebsite/homeStyle.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'static/coronawebsite/homeStyle.css' %}">
    <!-- semantic UI -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css" />

    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    <meta name="google-site-verification" content="_5cGNediE2zkWNyQPBxLNYguDVEkUHGjyq-fNuiKSOA" />
    <meta name="author" content="BonnyBay's team">
    <link rel="shortcut icon" type="image/ico" href="{% static 'static/coronawebsite/favicon.ico' %}">
    <meta name="robots" content="noodp,noydir" />
    <meta name="keywords" content="Coronavirus, Covid, Forecast, Predict, Chart, Trend, Previsione" >

  </head>

  <body>
    <a name="home"></a>
     <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid barraDiv">
                <a class="navbar-brand" href="http://bonnybay.pythonanywhere.com/"><img src="{% static 'static/coronawebsite/covid-19.png' %}" class="img-fluid" width="50px" height="50px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item homeHover1">
                    <a class="nav-link" aria-current="page" href="http://bonnybay.pythonanywhere.com/" >Home</a>
                        <!--<div id="hoverShow1">1) this is shown only on hover</div>-->
                    </li>
                    <li class="nav-item active homeHover2">
                    <a class="nav-link" href="http://bonnybay.pythonanywhere.com/predictPage/?mobility=0">Prediction</a>
                    </li>
                    <li class="nav-item homeHover3">
                    <a class="nav-link" href="http://bonnybay.pythonanywhere.com/whoweare">About us</a>
                    </li>
                <li class="nav-item homeHover4">
                    <a class="nav-link" href="https://github.com/CSSEGISandData/COVID-19">Data info</a>
                    </li>
                </ul>
                <span id="sitill"></span>
                </div>
            </div>
        </nav>

        <div id="interno1">Progress of Covid-19 trend in the world</div>
        <div id="interno2">Prediction of Covid-19 trend in the world</div>
        <div id="interno3">Meet who built the website!</div>
        <div id="interno4">Where we collect data, relative to Covid-19</div>

    <script>
        //gestione dell onHover sui vari elementi della navbar per mostrare delle informazioni in merio a quel preciso campo
        //gestione primo campo
        $( ".homeHover1" ).mouseover(function() {
        $( "#interno1" ).css( "display","block" );
        });

        $(".homeHover1").mouseleave(function(){
            $( "#interno1" ).css( "display","none" );

        });
        //gestione secondo campo
        $( ".homeHover2" ).mouseover(function() {
        $( "#interno2" ).css( "display","block" );
        });

        $(".homeHover2").mouseleave(function(){
            $( "#interno2" ).css( "display","none" );

        });
        //gestione terzo campo
        $( ".homeHover3" ).mouseover(function() {
        $( "#interno3" ).css( "display","block" );
        });

        $(".homeHover3").mouseleave(function(){
            $( "#interno3" ).css( "display","none" );

        });
          //gestione quarto campo
        $( ".homeHover4" ).mouseover(function() {
        $( "#interno4" ).css( "display","block" );
        });

        $(".homeHover4").mouseleave(function(){
            $( "#interno4" ).css( "display","none" );

        });
    </script>

    <script>
      var today = new Date();
      var dd = String(today.getDate() - 1).padStart(2, "0");
      var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
      var yyyy = today.getFullYear();
      var url_href = window.location.href;
      var url = new URL(url_href);
      var nomeStato = url.searchParams.get("nomeStato");
      var nomeRegione = url.searchParams.get("nomeRegione");
      if (nomeStato == null && nomeRegione == null) {
        $("body").append('<div id="titolo"><h1>How COVID-19 is going in the world? (Source: Johns Hopkins University)</h1></div>');
      } else if (nomeStato != null && nomeRegione == null) {
        $("body").append('<div id="titolo"><h1>How COVID-19 is going in ' +nomeStato +'? </h1></div>');
      } else if (nomeStato != null && nomeRegione != null) {
        $("body").append('<div id="titolo"><h1>How COVID-19 is going in ' +nomeRegione +'? </h1></div>');
      }
      $('#sitill').append('Situation till ' +dd +'/' +mm +'/' +yyyy)

    </script>

    <script>
      $(document).ready(function () {
        $("#daily").attr("checked", "true").change();

        var pulsanteValoreRadio = $("input[type=radio][name=dot]").val();
        if (pulsanteValoreRadio == "daily") {
          $("#dailyCharts").css("display", "block");
          $("#totalCharts").css("display", "none");
        } else if (pulsanteValoreRadio == "total") {
          $("#dailyCharts").css("display", "none");
          $("#totalCharts").css("display", "block");
        }

        $("input[type=radio][name=dot]").change(function () {
          //console.log("valoreeeeeee radiobox "+this.value)
          if (this.value == "daily") {
            $("#dailyCharts").css("display", "block");
            $("#totalCharts").css("display", "none");
          } else if (this.value == "total") {
            $("#dailyCharts").css("display", "none");
            $("#totalCharts").css("display", "block");
          }
        });
      });
    </script>



    <!-- questa cosa non fa una minchia ??-->
    <div class="chart-container container" >
      <!-- blocco che gestisce i click sugli stati -->
      {% if nienteRegioni == 'ok' %}
      <div class="tabella row justify-content-center col-md-2">
          <table class="tabellaInside table table-striped table-dark" id="coloreTabella">
            <tr class="table-dark">
              <th scope="col" class="col-4">Select your state</th>
            </tr>

          <script>
          $('.chart-container').show(); // mostro la tabella che viene nascosta nel caso in cui non ci siano piu regioni

          {% for stato in stati %}

            var stato = "{{stato.0}}".replace(/\s/g, "_");
            $("table.tabellaInside").append('<tr><td class="cella" scope="row"><a id= "colorLinkTable" href="?nomeStato=' +stato +'">{{stato.0}}</a></td></tr>');

          {% endfor %}
          </script>

        </table>
        <br />
      </div>
      {% endif %}

      <!-- blocco che gestisce i click sulle regioni nella tabella. Costruisco una nuova tabella -->
      {% if statoCliccato == 'ok' %}

      <div class="tabella row justify-content-center col-md-2">
        <table class="tabellaInside table table-striped table-dark table-bordered ">
          <tr lass="table-dark">
            <th scope="col" class="col-4">Select your region</th>
          </tr>
          <script>
            $('.chart-container').show();

            var contatore = 0;
            {% for regione in regioni %}
              contatore = contatore + 1
              var url_href = window.location.href;
              var url = new URL(url_href);
              var nomeStato = url.searchParams.get("nomeStato");
              var stato = nomeStato.replace(/\s/g, "_");
              var regione = "{{regione.0}}".replace(/\s/g, "_");
              $("table.tabellaInside").append('<tr><td class="cella" scope="row"><a href="?nomeStato=' +stato +"&nomeRegione=" +regione +'" id= "colorLinkTable">{{regione.0}}</a></td></tr>');
            {% endfor %}
          </script>
        </table>
        <br />
      </div>
      {% endif %}

      {% if statoCliccato != 'ok'  and  nienteRegioni != 'ok' %}
        <script>
          $('.chart-container').hide();
        </script>
      {% endif %}



      <script>
         {% block jquery%}
         $(document).ready(function () {
             var vettoreNuoviPos = []
             var vettoreNuoviMorti = []
             var vettoreNuoviGuar = []
             var vettoreTotalPos = []
             var vettoreTotalMorti = []
             var vettoreTotalGuar = []
             var arrayDate = []
             {% for displaydata in datiDeiTotali %}
                 vettoreTotalPos.push({{displaydata.0}})
                 vettoreTotalMorti.push({{displaydata.1}}*10)
                 vettoreTotalGuar.push({{displaydata.2}})
                 //console.log({{displaydata.0}})
             {% endfor %}

             {% for displaydata in datiDeiNuovi %}
                 vettoreNuoviPos.push({{displaydata.0}})
                 vettoreNuoviMorti.push({{displaydata.1}}*10)
                 vettoreNuoviGuar.push({{displaydata.2}})
                 //console.log({{displaydata.0}})
             {% endfor %}

             {% for displaydata in datiDeiNuovi%}
                 var name = '{{displaydata.3}}'
                 var nameCleaned = name.replace(/\s/g, '-')
                 arrayDate.push(nameCleaned)
                 //console.log({{displaydata.1}})
             {% endfor %}

            //preparo le label sopra al containerGrafico
            $("#labelNuoviPos").text(vettoreNuoviPos[vettoreNuoviPos.length-1]);
            //seconda label
            $("#labelNuoviMorti").text(vettoreNuoviMorti[vettoreNuoviMorti.length-1]);
            //terza label
            $("#labelNuoviGuar").text(vettoreNuoviGuar[vettoreNuoviGuar.length-1]);

            //quarta label
            $("#labelTotalPos").text(vettoreTotalPos[vettoreTotalPos.length-1]);
            //quinta label
            $("#labelTotalMorti").text(vettoreTotalMorti[vettoreTotalMorti.length-1]);
            //sesta label
            $("#labelTotalGuar").text(vettoreTotalGuar[vettoreTotalGuar.length-1]);

         {% endblock %}

         function creaGrafico(arrayValoriCovidPos, arrayValoriCovidMorti, arrayValoriCovidGuar, arrayDate, idCanvas, labelPos, labelMorti, labelGuar){
             var ctx = document.getElementById(idCanvas).getContext('2d');
             var myChart = new Chart(ctx, {
                 type: 'line',
                 data: {
                     labels: arrayDate, //['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange']
                     datasets: [{
                         label: labelPos,
                         data: arrayValoriCovidPos,
                         backgroundColor: [
                             'rgba(32, 48, 233, 0.2)',
                             'rgba(54, 65, 235, 0.2)',
                             'rgba(255, 4, 86, 0.2)',
                             'rgba(4, 192, 192, 0.2)',
                             'rgba(153, 4, 255, 0.2)',
                             'rgba(255, 159, 4, 0.2)'
                         ],
                         borderColor: [
                            'rgba(255, 165, 0, 0.7)'
                         ],
                         borderWidth: 3
                     },
                     {
                       label: labelMorti,
                         data: arrayValoriCovidMorti,
                         backgroundColor: [
                             'rgba(32, 48, 233, 0.2)',
                             'rgba(54, 65, 235, 0.2)',
                             'rgba(255, 4, 86, 0.2)',
                             'rgba(4, 192, 192, 0.2)',
                             'rgba(153, 4, 255, 0.2)',
                             'rgba(255, 159, 4, 0.2)'
                         ],
                         borderColor: [
                            'rgba(255, 0, 0, 0.7)'
                         ],
                         borderWidth: 3
                     },
                     {
                       label: labelGuar,
                         data: arrayValoriCovidGuar,
                         backgroundColor: [
                             'rgba(32, 48, 233, 0.2)',
                             'rgba(54, 65, 235, 0.2)',
                             'rgba(255, 4, 86, 0.2)',
                             'rgba(4, 192, 192, 0.2)',
                             'rgba(153, 4, 255, 0.2)',
                             'rgba(255, 159, 4, 0.2)'
                         ],
                         borderColor: [
                            'rgba(0, 255, 0, 0.7)'
                         ],
                         borderWidth: 3
                     }
                     ]
                 },
                 options: {
                     scales: {
                         yAxes: [{
                             ticks: {
                                 beginAtZero: true,
                                 fontColor: "rgba(255, 255, 255, 0.7)",
                             }
                         }],
                         xAxes: [{
                           ticks: {
                                 fontColor: "rgba(255, 255, 255, 0.7)"
                             }
                         }]
                     },
                     plugins: {

                        zoom: {
                          // Container for pan options
                          pan: {
                            // Boolean to enable panning
                            enabled: true,
                            mode: 'x',

                            rangeMin: {
                              // Format of min pan range depends on scale type
                              x: 10,
                              y: 10
                            },
                            rangeMax: {
                              // Format of max pan range depends on scale type
                              x: 10,
                              y: 10
                            },

                            // On category scale, factor of pan velocity
                            speed: 20,

                            // Minimal pan distance required before actually applying pan
                            threshold: 0,

                            // Function called while the user is panning
                            onPan: function({chart}) { console.log(`I'm panning!!!`); },
                            // Function called once panning is completed
                            onPanComplete: function({chart}) { console.log(`I was panned!!!`); }
                          },

                          // Container for zoom options
                          zoom: {
                            // Boolean to enable zooming
                            enabled: true,

                            // Enable drag-to-zoom behavior
                            drag: true,
                            mode: 'x',

                            rangeMin: {
                              // Format of min zoom range depends on scale type
                              x: 10,
                              y: 10
                            },
                            rangeMax: {
                              // Format of max zoom range depends on scale type
                              x: 10,
                              y: 10
                            },

                            // Speed of zoom via mouse wheel
                            // (percentage of zoom on a wheel event)
                            speed: 30,

                            // Minimal zoom distance required before actually applying zoom
                            threshold: 0,

                            // On category scale, minimal zoom level before actually applying zoom
                            sensitivity: 0,

                            // Function called while the user is zooming
                            onZoom: function({chart}) { console.log(`I'm zooming!!!`); },
                            // Function called once zooming is completed
                            onZoomComplete: function({chart}) { console.log(`I was zoomed!!!`); }
                          }
                        }
                      }
                 }
             });
         }
        Chart.defaults.global.defaultFontColor = '#fff';
        creaGrafico(vettoreNuoviPos, vettoreNuoviMorti, vettoreNuoviGuar, arrayDate, "chartDaily","New Cases","New Deaths x10","New recovered");
        creaGrafico(vettoreTotalPos, vettoreTotalMorti, vettoreTotalGuar, arrayDate, "chartTotal","Total Cases","Total Deaths x10","Total recovered");

        });
      </script>
      <div id="anchorin" class="col-md-3"><a href="#charts">Go To Charts</a></div>
    </div>
    <div id="anchorout"><a href="#charts">Go To Charts</a></div>
    <div id="notForMobile"><h3>This site is not designed for mobile view, so the contents are a little bit stretch</h3></div>
    {% if statoCliccato != 'ok'  and  nienteRegioni != 'ok' %}
      <script>
        $('#anchorout').css('display','block')
      </script>
    {% endif %}
    {% comment %} {% if statoCliccato != 'ok'  and  nienteRegioni != 'ok' %}
      <script>
        $('#anchor').css('margin-top','80px')
      </script>
    {% else %}
      <script>
        $('#anchor').css('margin-top','-50px')
      </script>
    {% endif %} {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<!--matte script navbar-->
    <script>
    function test(){
    var tabsNewAnim = $('#navbarSupportedContent');
    var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
    var activeItemNewAnim = tabsNewAnim.find('.active');
    var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
    var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
    var itemPosNewAnimTop = activeItemNewAnim.position();
    var itemPosNewAnimLeft = activeItemNewAnim.position();
    $(".hori-selector").css({
      "top":itemPosNewAnimTop.top + "px",
      "left":itemPosNewAnimLeft.left + "px",
      "height": activeWidthNewAnimHeight + "px",
      "width": activeWidthNewAnimWidth + "px"
    });
    $("#navbarSupportedContent").on("click","li",function(e){
      $('#navbarSupportedContent ul li').removeClass("active");
      $(this).addClass('active');
      var activeWidthNewAnimHeight = $(this).innerHeight();
      var activeWidthNewAnimWidth = $(this).innerWidth();
      var itemPosNewAnimTop = $(this).position();
      var itemPosNewAnimLeft = $(this).position();
      $(".hori-selector").css({
        "top":itemPosNewAnimTop.top + "px",
        "left":itemPosNewAnimLeft.left + "px",
        "height": activeWidthNewAnimHeight + "px",
        "width": activeWidthNewAnimWidth + "px"
      });
    });
  }
  $(document).ready(function(){
    setTimeout(function(){ test(); });
  });
  $(window).on('resize', function(){
    setTimeout(function(){ test(); }, 500);
  });
  $(".navbar-toggler").click(function(){
    setTimeout(function(){ test(); });
  });
    </script>
  <a name="charts"></a>
  {% if statoCliccato == 'no'  and  nienteRegioni == 'ok' %}
    <hr>
  {% endif  %}
  

  <div>
    <div class="hungry">
            <div class="selection row justify-content-md-center" >
              <div id="pippo" class="col">
               <input id="daily" name="dot" type="radio" value="daily">
                <label for="daily">Daily</label>
              </div>
              <div id="pluto" class="col">
                <input id="total" name="dot" type="radio" value="total">
                <label for="total">Total</label>
              </div>

            </div>
        </div>
    </div>

    <script>
    //script che fa comparire l'immagine backtotop quando scrollo
      $(function(){
         $('.immagineBackToTop').fadeOut();
        $(window).scroll(function() {
          if ($(this).scrollTop() > 0) {
              $('.immagineBackToTop').fadeIn();                     
          }else{
            $('.immagineBackToTop').fadeOut();
          }
        });
      });
    </script> 
    <div id="home1"><a href="#home"><img id="backtotop" class="immagineBackToTop" alt="Back to top" src='{% static 'static/coronawebsite/back-to-top.png' %}' /></a></div>
    <div class = "pony">

      <div class="row" id="dailyCharts">
        <div class = "col" id="containerGrafico">
          <span>New Cases: <label id="labelNuoviPos">0</label></span>
          <span>New Deaths: <label id="labelNuoviMorti">0</label></span>
          <span>New recovered: <label id="labelNuoviGuar">0</label></span>
          <canvas id="chartDaily"></canvas>
        </div>
      </div>

      <div class="row" id="totalCharts">
        <div id="containerGrafico4">
          <span>Total Cases: <label id="labelTotalPos">0</label></span>
          <span>Total Deaths: <label id="labelTotalMorti">0</label></span>
          <span>Total recovered: <label id="labelTotalGuar">0</label></span>
          <canvas id="chartTotal"></canvas>
      </div>
    </div>
  </div>
  {% if statoCliccato == 'no'  and  nienteRegioni == 'ok' %}
    <footer>
      Created by Michele Bonini & Emanuele Fazzini & Matteo Tamari. All Rights Reserved.
    </footer>
  {% endif  %}
  </body>
</html>

