<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Predict Page Covid-19 - Forecast & Trend</title>
        <meta name="description" content="The purpose of this site is to show Covid-19 charts, trend and forecast.">

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'static/coronawebsite/paginaPrevisioni.css' %}">

        <!-- semantic UI -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css" />

        <!--Chart js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
        <meta name="google-site-verification" content="_5cGNediE2zkWNyQPBxLNYguDVEkUHGjyq-fNuiKSOA" />
        <meta name="author" content="BonnyBay's team">
        <link rel="shortcut icon" type="image/ico" href="{% static 'static/coronawebsite/favicon.ico' %}">
        <meta name="robots" content="noodp,noydir" />
        <meta name="keywords" content="Coronavirus, Covid, Forecast, Predict, Chart, Trend, Previsione" >
    </head>

    <body>
        <a name="state_list"></a>
        <a name="home"></a>
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid barraDiv">
                <a class="navbar-brand" href="http://bonnybay.pythonanywhere.com/"><img src="{% static 'static/coronawebsite/covid-19.png' %}" class="img-fluid" width="50px" height="50px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item homeHover1">
                    <a class="nav-link" aria-current="page" href="http://bonnybay.pythonanywhere.com/" >Home</a>
                        <!--<div id="hoverShow1">1) this is shown only on hover</div>-->
                    </li>
                    <li class="nav-item active homeHover2">
                    <a class="nav-link" href="http://bonnybay.pythonanywhere.com/predictPage/?mobility=0">Prediction</a>
                    </li>
                    <li class="nav-item homeHover3">
                    <a class="nav-link" href="http://bonnybay.pythonanywhere.com/whoweare">About us</a>
                    </li>
                <li class="nav-item homeHover4">
                    <a class="nav-link" href="https://github.com/CSSEGISandData/COVID-19">Data info</a>
                    </li>
                </ul>
                <span id="sitill"></span>
                </div>
            </div>
        </nav>
       <div id="interno1">Progress of Covid-19 trend in the world</div>
        <div id="interno2">Prediction of Covid-19 trend in the world</div>
        <div id="interno3">Meet who built the website!</div>
        <div id="interno4">Where we collect data, relative to Covid-19</div>



        <script>
            //gestione dell onHover sui vari elementi della navbar per mostrare delle informazioni in merio a quel preciso campo
            //gestione primo campo
            $( ".homeHover1" ).mouseover(function() {
            $( "#interno1" ).css( "display","block" );
            });

            $(".homeHover1").mouseleave(function(){
                $( "#interno1" ).css( "display","none" );

            });
            //gestione secondo campo
            $( ".homeHover2" ).mouseover(function() {
            $( "#interno2" ).css( "display","block" );
            });

            $(".homeHover2").mouseleave(function(){
                $( "#interno2" ).css( "display","none" );

            });
            //gestione terzo campo
            $( ".homeHover3" ).mouseover(function() {
            $( "#interno3" ).css( "display","block" );
            });

            $(".homeHover3").mouseleave(function(){
                $( "#interno3" ).css( "display","none" );

            });
              //gestione quarto campo
            $( ".homeHover4" ).mouseover(function() {
            $( "#interno4" ).css( "display","block" );
            });

            $(".homeHover4").mouseleave(function(){
                $( "#interno4" ).css( "display","none" );

            });
        </script>

        <script>
            var today = new Date();
            var dd = String(today.getDate() - 1).padStart(2, "0");
            var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
            var yyyy = today.getFullYear();
            var url_href = window.location.href;
            var url = new URL(url_href);
            var nomeStato = url.searchParams.get("nomeStato");
            var nomeRegione = url.searchParams.get("nomeRegione");
            if (nomeStato == null && nomeRegione == null) {
                $("body").append('<div id="titolo"><h1>Forecast</h1></div>');
            } else if (nomeStato != null && nomeRegione == null) {
                $("body").append('<div id="titolo"><h1>Forecast in ' +nomeStato +' </h1></div>');
            } else if (nomeStato != null && nomeRegione != null) {
                $("body").append('<div id="titolo"><h1>Forecast in ' +nomeRegione +' </h1></div>');
            }
            $('#sitill').append('Situation till ' +dd +'/' +mm +'/' +yyyy)
        </script>

        <div class="chart-container container">
            <!-- blocco che gestisce i click sugli stati -->
            {% if statoCliccato == 'no' %}
                <div class="tabella row justify-content-center" id="contenitore_tabella">
                    <table class="tabellaInside table table-striped table-dark" id="coloreTabella">
                        <tr class="table-dark">
                            <th scope="col" class="col-4">Select your state</th>
                        </tr>
                        <script>
                        {% for stato in stati %}
                            var stato = "{{stato.0}}".replace(/\s/g, "_");
                            $("table.tabellaInside").append('<tr><td class="cella" scope="row"><a id= "colorLinkTable" href="?nomeStato=' + stato +'">{{stato.0}}</a></td></tr>');

                            //Stati con previsione e dati corretti
                            var vettoreStatiConPrevisioneCorretta = ['Andorra','Argentina','Austria','Azerbaijan','Bahrain','Bangladesh',
                            'Belarus','Bhutan','Botswana','Cabo Verde','Cameroon','Canada','Chile','China','Portugal','Portugal','Croatia','Denmark','Georgia',
                            'Iceland','Israel','Italy','Japan','Kuwait','Mauritania','Morocco','Panama','Polonad','Suriname','United Arab Emirates',
                            'Uruguay','Zambia','Zimbabwe','Singapore','Slovenia','Slovakia','South Africa','Algeria','San Marino']
                            $("table td").map(function () {
                                for (var scorroElementi=0; scorroElementi<vettoreStatiConPrevisioneCorretta.length;scorroElementi++){
                                    if ($(this).text() === vettoreStatiConPrevisioneCorretta[scorroElementi]) $(this).css("background-color", "green")
                                }
                            })
                        {% endfor %}
                        </script>
                    </table>

                    <br>
                </div>
                <div id="legenda_campoVerde"><p>* If the field has a background color green than that state has a correct data.</p></div>
                <div id="notForMobile"><h3>This site is not designed for mobile view, so the contents are a little bit stretch</h3></div>
            {% endif %}

            <!-- blocco che gestisce i click sulle regioni nella tabella. Costruisco una nuova tabella -->
            {% if nienteRegioni == 'no'%}
                <div class="tabella">
                    <table class="tabella">
                        <tr>
                            <th>
                                Regioni
                            </th>
                        </tr>

                        {% for regione in regioni %}
                        <script>
                            var url_href = window.location.href;
                            var url = new URL(url_href);
                            var nomeStato = url.searchParams.get("nomeStato");
                            var stato =nomeStato.replace(/\s/g, '_');
                            var regione ="{{regione.0}}".replace(/\s/g, '_');
                            $('table.tabella').append('<tr><td class="cella"><a id= "colorLinkTable" href="?nomeStato='+stato+'&nomeRegione='+regione+'">{{regione.0}}</a></td></tr>')
                        </script>
                        {% endfor %}
                    </table>
                    <br>
                </div>
                <div id="notForMobile"><h3>This site is not designed for mobile view, so the contents are a little bit stretch</h3></div>
            {% endif %}
        </div>
        <ul id="menu">
            <li class="anchorin"><a href="#chart_positive" class="testoLaterale">New Positives</a>
            <li class="anchorin"><a href="#chart_recovered" class="testoLaterale">New Recovered</a>
            <li class="anchorin"><a href="#chart_death" class="testoLaterale">New Deaths</a>
        </ul>

        {% if statoCliccato == 'no' %}
            <script>
                $("#menu").hide();
                //mostro la legenda per le righe verdi all'interno della tabella
                //$(".tabella").after('<div id="legenda_campoVerde"><p>* If the field has a background color green than that state has a /correct data.</p></div>');
            </script>
        {% endif %}

         {% if statoCliccato == 'ok' %}
            <script>
                if ($(window).width() >= 991) {
                    $("#menu").show();
                }
            </script>
        {% endif %}


        {% if nienteRegioni == 'ok' and statoCliccato == 'ok'%}
        <div id="notForMobile"><h3>This site is not designed for mobile view, so the contents are a little bit stretch</h3></div>
            <script>
                $('.chart-container').css('display','none')
            </script>
        {% endif %}

        <script>
        //script che fa comparire l'immagine backtotop quando scrollo
        $(function(){
            $('.immagineBackToTop').fadeOut();
            $(window).scroll(function() {
            if ($(this).scrollTop() > 0) {
                $('.immagineBackToTop').fadeIn();                     
            }else{
                $('.immagineBackToTop').fadeOut();
            }
            });
        });
        </script> 
        <div id="home1"><a href="#home"><img id="backtotop" class="immagineBackToTop" alt="Back to top" src='{% static 'static/coronawebsite/back-to-top.png' %}' /></a></div>
        <div class="contenitoreGrafici">
            <div class = "pony">
                <div class="row"  id="dailyCharts" style="display: block;">
                    <div class = "col" id="containerGrafico" class="grafici">
                        <a name="chart_positive"></a>

                        <span>New Cases:</span>
                        <label id="labelGrafico1">0</label>
                        <canvas id="chartNuoviPos"></canvas>
                    </div>
                    <hr class="linea">
                    <div class = "col" id="containerGrafico3" class="grafici">
                        <a name="chart_recovered"></a>
                        <span>New Recovered:</span>
                        <label id="labelGrafico3">0</label>
                        {% if statoCliccato == 'ok'  %}
                            <div class="estimateInfo">
                                <p id="tempoStimatoguarigione">Estimated time of recovery: </p>
                            </div>
                        {% endif %}
                        <canvas id="chartNuoviGuar"></canvas>
                    </div>
                    <hr class="linea">
                    <div class = "col" id="containerGrafico2" class="grafici">
                        <a name="chart_death"></a>
                        <span>New Deaths:</span>
                        <label id="labelGrafico2">0</label>
                          {% if statoCliccato == 'ok'   %}
                             <script>
                                var c="{{percentageDeaths}}"
                                var percentage=parseFloat(c)*100
                                $('<span> ('+percentage.toFixed(2)+'%)</span>').insertAfter('#labelGrafico2')
                            </script>
                            <div class="estimateInfo">
                                <p id="tempoStimatoDeath">Estimated time of death: </p>
                            </div>
                        {% endif %}

                        <canvas id="chartNuoviMorti"></canvas>
                    </div>
                </div>
            </div>
        </div>

        {% if statoCliccato != 'ok'%}
            <script>
                $('.contenitoreGrafici').css('display','none')
            </script>
        {% endif %}
        <script>
            var url_href = window.location.href;
            var url = new URL(url_href);
            var mobilita = url.searchParams.get("mobility");

            {% block jquery%}
            $(document).ready(function () {
                var vettoreNuoviPos = []
                var vettoreNuoviMorti = []
                var vettoreNuoviGuar = []
                var arrayDate = []
                //CREO IL VETTORE DELLA MEDIA MOBILE DEI NUOVI POSITIVI
                var arrayMediaMobileNuoviPositivi = [null,null,null]
                {% for scorroValoriMediaMobile in mediaMobileNuoviPositivi%}
                    var valoreMediaMobile = '{{scorroValoriMediaMobile}}'
                    var mySubString = valoreMediaMobile.substring(
                        valoreMediaMobile.indexOf(";") + 1,
                        valoreMediaMobile.lastIndexOf("&")
                    );
                    var val=parseFloat(mySubString)
                    if(!isNaN(val)){
                        arrayMediaMobileNuoviPositivi.push(val)
                    }
                {% endfor %}


                //CREO IL VETTORE DELLA MEDIA MOBILE DEI NUOVI GUARITI
                var arrayMediaMobileNuoviGuariti = [null,null,null]
                {% for scorroValoriMediaMobile in mediaMobileNuoviGuariti%}
                    var valoreMediaMobile = '{{scorroValoriMediaMobile}}'
                    var mySubString = valoreMediaMobile.substring(
                        valoreMediaMobile.indexOf(";") + 1,
                        valoreMediaMobile.lastIndexOf("&")
                    );
                    var val=parseFloat(mySubString)
                    if(!isNaN(val)){
                        arrayMediaMobileNuoviGuariti.push(val)
                    }

                {% endfor %}

                var arrayMediaMobileNuoviMorti = [null,null,null]
                {% for scorroValoriMediaMobile in mediaMobileNuoviMorti%}
                    var valoreMediaMobile = '{{scorroValoriMediaMobile}}'
                    var mySubString = valoreMediaMobile.substring(
                        valoreMediaMobile.indexOf(";") + 1,
                        valoreMediaMobile.lastIndexOf("&")
                    );
                    var val=parseFloat(mySubString)
                    if(!isNaN(val)){
                        arrayMediaMobileNuoviMorti.push(val*10)
                    }

                {% endfor %}
                //console.log(arrayMediaMobileNuoviGuariti)

                {% for displaydata in datiDeiNuovi %}
                    vettoreNuoviPos.push({{displaydata.0}})
                    vettoreNuoviMorti.push({{displaydata.1}}*10)
                    vettoreNuoviGuar.push({{displaydata.2}})
                    //console.log({{displaydata.0}})
                {% endfor %}


                {% for displaydata in datiDeiNuovi%}
                    var name = '{{displaydata.3}}'
                    var nameCleaned = name.replace(/\s/g, '-')
                    arrayDate.push(nameCleaned)
                    //console.log({{displaydata.1}})
                {% endfor %}


                $("#labelGrafico1").text(vettoreNuoviPos[vettoreNuoviPos.length-1]);
                //seconda label
                $("#labelGrafico2").text(vettoreNuoviMorti[vettoreNuoviMorti.length-1]/10);
                //terza label
                $("#labelGrafico3").text(vettoreNuoviGuar[vettoreNuoviGuar.length-1]);

            {% endblock %}

            function creaGrafico(arrayValoriCovid, arrayDate, idCanvas, label, mediaMobileNuoviPositivi,label2,label3,valoriPrevisione){
                var ctx = document.getElementById(idCanvas).getContext('2d');

                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: arrayDate,
                        datasets: [{
                            label: label,
                            data: arrayValoriCovid,
                            borderWidth: 2,
                            borderColor:'#0000ff',
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',

                            pointHoverBackgroundColor: "#55bae7",
                            pointHoverBorderColor: "#55bae7",
                        }, {
                            label: label2,
                            data: mediaMobileNuoviPositivi,
                            borderWidth: 2,
                            backgroundColor: [
                               'rgba(54, 162, 235, 0.2)'
                            ],
                            borderColor: [
                                '#ff0000'
                            ],
                            pointHoverBackgroundColor: "rgba(246, 71, 64, 1)",
                            pointHoverBorderColor: "#fff"
                        },
                        {
                            label: label3,
                            data: valoriPrevisione,
                            borderWidth: 2,
                            backgroundColor: [
                               'rgba(11, 156, 49, 0.2)'
                            ],
                            borderColor: [
                                '#00BB2D'
                            ],
                            borderDash: [7,2],
                            pointBackgroundColor: "rgba(225, 225, 225, 1)",
                            pointBorderColor: "rgba(50, 255, 0, 1)",
                            pointHoverBackgroundColor: "rgba(0, 255, 0, 1)",
                            pointHoverBorderColor: "#fff"
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    fontColor: "rgba(255, 255, 255, 0.7)",
                                }
                            }],
                            xAxes: [{
                            ticks: {
                                    fontColor: "rgba(255, 255, 255, 0.7)"
                                }
                            }]
                        },
                        plugins: {
                            zoom: {
                            // Container for pan options
                                pan: {
                                    // Boolean to enable panning
                                    enabled: true,
                                    mode: 'x',
                                    rangeMin: {
                                    // Format of min pan range depends on scale type
                                    x: null,
                                    y: null
                                    },
                                    rangeMax: {
                                    // Format of max pan range depends on scale type
                                    x: null,
                                    y: null
                                    },

                                    // On category scale, factor of pan velocity
                                    speed: 20,

                                    // Minimal pan distance required before actually applying pan
                                    threshold: 0,

                                    // Function called while the user is panning
                                    onPan: function({chart}) { console.log(`I'm panning!!!`); },
                                    // Function called once panning is completed
                                    onPanComplete: function({chart}) { console.log(`I was panned!!!`); }
                                },

                                // Container for zoom options
                                zoom: {
                                    // Boolean to enable zooming
                                    enabled: true,

                                    // Enable drag-to-zoom behavior
                                    drag: true,

                                    mode: 'x',

                                    rangeMin: {
                                    // Format of min zoom range depends on scale type
                                    x: null,
                                    y: null
                                    },
                                    rangeMax: {
                                    // Format of max zoom range depends on scale type
                                    x: null,
                                    y: null
                                    },

                                    // Speed of zoom via mouse wheel
                                    // (percentage of zoom on a wheel event)
                                    speed: 30,

                                    // Minimal zoom distance required before actually applying zoom
                                    threshold: 0,

                                    // On category scale, minimal zoom level before actually applying zoom
                                    sensitivity: 0,

                                    // Function called while the user is zooming
                                    onZoom: function({chart}) { console.log(`I'm zooming!!!`); },
                                    // Function called once zooming is completed
                                    onZoomComplete: function({chart}) { console.log(`I was zoomed!!!`); }
                                }
                            }
                        }
                    }
                });

            }
            /**
                Gestione previsione nuovi guariti
            */
            Chart.defaults.global.defaultFontColor = '#fff';
            var date = new Date(arrayDate[arrayDate.length-1])
            //ultimaDataInserita = Date.parse()
            //date.setDate(date.getDate() + 20) //aggiungo 20 giorni perchè la media mobile non considera gli ultimi 3 giorni
            date.setDate(date.getDate() - 13)
            //formatto bene la stringa dell'ultima ultimaDataInserita
            var date2 = new Date()
            date2.setDate(date.getDate() + 23)

            vettoreGuaritiFuturo = []
            month = '' + (date2.getMonth() + 1),
            day = '' + date2.getDate(),
            year = date2.getFullYear();

            vettoreGuaritiFuturo[9] = year + "-" + month + "-" + day
            counter = 1
            for(var i = 9; i>=0; i--){
                var dateConI = new Date(date)
                dateConI.setDate(date.getDate() - counter + 23)
                month = '' + (dateConI.getMonth() + 1),
                day = '' + dateConI.getDate(),
                year = dateConI.getFullYear();
                vettoreGuaritiFuturo[i] = year + "-" + month + "-" + day
                counter = counter + 1
            }

            var ultimiDieciElementiMobileNewPos = [] //vettore contenente la previsione dei prox 10 giorni di guariti
            var controllaIDieci = 0

            //metto l'ultimo valore della media mobile nel containerGrafico PER TRE GIORNI (quelli mancanti)

            ultimiDieciElementiMobileNewPos.push(arrayMediaMobileNuoviPositivi[arrayMediaMobileNuoviPositivi.length-22])
            ultimiDieciElementiMobileNewPos.push(arrayMediaMobileNuoviPositivi[arrayMediaMobileNuoviPositivi.length-21])

            var downVector = []
            for(var i = arrayMediaMobileNuoviPositivi.length-1; controllaIDieci<10; i--){
                downVector.push(arrayMediaMobileNuoviPositivi[i-10])
                controllaIDieci++
            }
            var previsioneScelta = 0
            var differenza = 0
            for(var i = downVector.length-1; i>=0;i--){
                //rendo continui i valori della previsione alla media mobile
                if(arrayMediaMobileNuoviGuariti[arrayMediaMobileNuoviGuariti.length-1] > downVector[i]){ //dove downVector è la previsione di quel giorno
                    if(i == downVector.length-1){
                       differenza = parseInt(arrayMediaMobileNuoviGuariti[arrayMediaMobileNuoviGuariti.length-1]) - parseInt(downVector[i])
                       previsioneScelta = differenza + parseInt(downVector[i])
                    }
                    previsioneScelta=parseInt(downVector[i])
                }else{
                    if(i == downVector.length-1){
                        differenza = downVector[i] - arrayMediaMobileNuoviGuariti[arrayMediaMobileNuoviGuariti.length-1]
                        previsioneScelta = parseInt(downVector[i]) - differenza
                    }
                    previsioneScelta = parseInt(downVector[i])
                }
                ultimiDieciElementiMobileNewPos.push(previsioneScelta)
            }
            /**
                Fine gestione previsione nuovi guariti
            */
            for(var i = 1; i <10; i++){
            //#arrayMediaMobileNuoviGuariti.push(ultimiDieciElementiMobileNewPos[i])
                arrayDate.push(vettoreGuaritiFuturo[i])
            }
            var nomeStato = url.searchParams.get("nomeStato");
            var allForecast = [];
            var recoverDay = 23
            var deathsDay = 11
            switch(nomeStato){
                case "Andorra":
                    recoverDay=13
                    deathsDay = 4
                    break;
                case "Argentina":
                    recoverDay=10
                    deathsDay = 4
                    break;
                case "Austria":
                    recoverDay=12
                    deathsDay = 23
                    break;
                case "Azerbaijan":
                    recoverDay=15
                    break;
                case "Bahrain":
                    recoverDay=12
                    deathsDay = 15
                    break;
                case "Bangladesh":
                    recoverDay=12
                    break;
                case "Belarus":
                    recoverDay=15
                    break;
                case "Bhutan":
                    recoverDay=20
                    break;
                case "Botswana":
                    recoverDay=11
                    break;
                case "Cabo_Verde":
                    recoverDay=13
                    break;
                case "Cameroon":
                    recoverDay=16
                    break;
                case "Canada":
                    recoverDay=11
                    break;
                case "Chile":
                    recoverDay=16
                    break;
                case "China":
                    recoverDay=15
                    break;
                case "Portugal":
                    recoverDay=10
                    break;
                case "Croatia":
                    recoverDay=7
                    deathsDay = 15
                    break;
                case "Denmark":
                    recoverDay=13
                    deathsDay = 35
                    break;
                case "Georgia":
                    recoverDay=12
                    break;
                case "Iceland":
                    recoverDay=16
                    break;
                case "Israel":
                    recoverDay=13
                    break;
                case "Japan":
                    recoverDay=15
                    deathsDay = 15
                    break;
                case "Kuwait":
                    recoverDay=16
                    break;
                case "Mauritania":
                    recoverDay=17
                    deathsDay = 5
                    break;
                case "Morocco":
                    recoverDay=18
                    break;
                case "Panama":
                    recoverDay=15
                    break;
                case "Polonad":
                    recoverDay=17
                    break;
                case "Suriname":
                    recoverDay=7
                    deathsDay = 18
                    break;
                case "United_Arab_Emirates":
                    recoverDay=7
                    break;
                case "Uruguay":
                    recoverDay=11
                    deathsDay = 20
                    break;
                case "Zambia":
                    recoverDay=15
                    deathsDay = 6
                    break;
                case "Zimbabwe":
                    recoverDay=14
                    break;
                case "Singapore":
                    recoverDay=11
                    deathsDay = 14
                    break;
                case "San_Marino":
                    recoverDay=11
                    deathsDay = 40;
                    break;
                case "Slovenia":
                    recoverDay=15
                    break;
                case "Slovakia":
                    recoverDay=15
                    deathsDay = 20
                    break;
                case "South_Africa":
                    recoverDay=15
                    break;
                case "Algeria":
                    recoverDay=7
                    deathsDay = 4
                    break;
                case "Italy":
                    deathsDay = 17;
                    break;
            }
            //scrivo sulla pagina il numero di giorni del paese corrente
            $( "#tempoStimatoguarigione" ).append( "<strong id='recoveryValue'>"+recoverDay+" </strong> days" );
            $('#recoveryValue').css("color", "green")


            $( "#tempoStimatoDeath" ).append( "<strong id='deathValue'>"+deathsDay+" </strong> days" );
            $('#deathValue').css("color", "red")

            for(var i=0;i<recoverDay;i++){
                allForecast.push(null);
            }
            var k=recoverDay;
            for (var i=0;i<arrayMediaMobileNuoviPositivi.length-1;i++){
                if(k>arrayMediaMobileNuoviPositivi.length-1){
                    break;
                }
                allForecast.push(arrayMediaMobileNuoviPositivi[i]);
                k++;
            }

            for (var i=0;i<ultimiDieciElementiMobileNewPos.length-1;i++){
                allForecast.push(ultimiDieciElementiMobileNewPos[i]);
            }

            // PREVISIONE DEI MORTI
            var deathsForecast = []

            for(var i=0;i<deathsDay;i++){
                deathsForecast.push(null)
            }
            for(var i=0;i<arrayMediaMobileNuoviPositivi.length-1;i++){
                if(i>2)
                    deathsForecast.push((arrayMediaMobileNuoviPositivi[i]*{{percentageDeaths}})*10)
            }
            creaGrafico(vettoreNuoviPos, arrayDate, "chartNuoviPos","New Cases",arrayMediaMobileNuoviPositivi,"RUN7 New Cases","Forecast",null);
            creaGrafico(vettoreNuoviGuar, arrayDate, "chartNuoviGuar","New recoveredù",arrayMediaMobileNuoviGuariti,"RUN7 New recovered","Forecast",allForecast);
            creaGrafico(vettoreNuoviMorti, arrayDate, "chartNuoviMorti","New Deaths x10",arrayMediaMobileNuoviMorti,"RUN7 New Deaths","Forecast",deathsForecast);

        });

        </script>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <br>
        {% if statoCliccato == 'no' %}
            <footer>
                Created by Michele Bonini & Emanuele Fazzini & Matteo Tamari. All Rights Reserved.
            </footer>
        {% endif  %}

    </body>
</html>
