<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'static/coronawebsite/whoweare.css' %}">

        <!-- semantic UI -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css" />

        <!--Chart js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
        <meta name="google-site-verification" content="_5cGNediE2zkWNyQPBxLNYguDVEkUHGjyq-fNuiKSOA" />
        <meta name="description" content="The purpose of this site is to show Covid-19 charts, trend and forecast.">
        <meta name="author" content="BonnyBay's team">
        <link rel="shortcut icon" type="image/ico" href="{% static 'static/coronawebsite/favicon.ico' %}"
        <title>Predict Page Covid-19 - Forecast & Trend</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
        <meta name="robots" content="noodp,noydir" />
        <meta name="keywords" content="Coronavirus, Covid, Forecast, Predict, Chart, Trend, Previsione" >
        <title>Covid-19 Forecast - Who We Are</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid barraDiv">
                <a class="navbar-brand" href="http://bonnybay.pythonanywhere.com"><img src="{% static 'static/coronawebsite/covid-19.png' %}" class="img-fluid" width="50px" height="50px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item homeHover1">
                    <a class="nav-link" aria-current="page" href="http://bonnybay.pythonanywhere.com" >Home</a>
                        <!--<div id="hoverShow1">1) this is shown only on hover</div>-->
                    </li>
                    <li class="nav-item active homeHover2">
                    <a class="nav-link" href="http://bonnybay.pythonanywhere.com/predictPage/?mobility=0">Prediction</a>
                    </li>
                    <li class="nav-item homeHover3">
                    <a class="nav-link" href="http://bonnybay.pythonanywhere.com/whoweare">About us</a>
                    </li>
                <li class="nav-item homeHover4">
                    <a class="nav-link" href="https://github.com/CSSEGISandData/COVID-19">Data info</a>
                    </li>
                </ul>
                <span id="sitill"></span>
                </div>
            </div>
        </nav>


       <div id="interno1">Progress of Covid-19 trend in the world</div>
        <div id="interno2">Prediction of Covid-19 trend in the world</div>
        <div id="interno3">Meet who built the website!</div>
        <div id="interno4">Where we collect data, relative to Covid-19</div>

    <script>
        //gestione dell onHover sui vari elementi della navbar per mostrare delle informazioni in merio a quel preciso campo
        //gestione primo campo
        $( ".homeHover1" ).mouseover(function() {
        $( "#interno1" ).css( "display","block" );
        });

        $(".homeHover1").mouseleave(function(){
            $( "#interno1" ).css( "display","none" );

        });
        //gestione secondo campo
        $( ".homeHover2" ).mouseover(function() {
        $( "#interno2" ).css( "display","block" );
        });

        $(".homeHover2").mouseleave(function(){
            $( "#interno2" ).css( "display","none" );

        });
        //gestione terzo campo
        $( ".homeHover3" ).mouseover(function() {
        $( "#interno3" ).css( "display","block" );
        });

        $(".homeHover3").mouseleave(function(){
            $( "#interno3" ).css( "display","none" );

        });
          //gestione quarto campo
        $( ".homeHover4" ).mouseover(function() {
        $( "#interno4" ).css( "display","block" );
        });

        $(".homeHover4").mouseleave(function(){
            $( "#interno4" ).css( "display","none" );

        });
    </script>

      <p class="logo-1" id = "customWhoWeAre">
        About us
      </p>
    <div class="container" id="whoWeAre">
        The historical moment that we are all experiencing has changed the approach that each person has towards information and knowledge of what is happening around us.
            <br>
            <br>
            This site is the result of a scientific design study done by Michele Bonini, Emanuele Fazzini and Matteo Tamari, friends and fellow students in the Master Degree Course in Computer Science at the University of Bologna, were for the purpose in the course of Physics of Complex Systems,
            they realized the present as a source of information and forecast of the progress of the pandemic situation given by Sars-Cov2.
            <br>
            <br>
            It's increased with data from one of the most famous scientific authorities, Johns Hopkins University, which updates it's database every day and shares with the entire network.

      </div>





     <footer>
         <div id="footer" class="row justify-content-center">
            <div class="col-md-3">
                <div class="well mini-profile-widget">
                    <div>
                        <div class="image-container">
                            <img src="{% static 'static/coronawebsite/images_ema.png' %}" class="avatar img-responsive" alt="avatar">
                        </div>
                    </div>
                    <div>
                        <div class="details">
                            <h3>Emanuele Fazzini</h3>
                            <div>Architect & Engineer</div>
                            <div>Università di Bologna</div>
                            <a href="#" class="card-link">Sito personale &raquo;</a>
                             <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well mini-profile-widget">
                    <div>
                        <div class="image-container">
                            <img src="{% static 'static/coronawebsite/michiFoto.jpg' %}" class="avatar img-responsive" alt="avatar">
                        </div>
                    </div>
                    <div>
                        <div class="details">
                            <h3>Michele Bonini</h3>
                            <div>Architect & SOFTWARE Engineer </div>
                            <div>Università di Bologna</div>
                            <a href="#" class="card-link">Sito personale &raquo;</a>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well mini-profile-widget">
                    <div>
                        <div class="image-container">
                            <img src="{% static 'static/coronawebsite/matteoFoto.jpg' %}" class="avatar img-responsive" alt="avatar">
                        </div>
                    </div>
                    <div>
                        <div class="details">
                            <h3>Matteo Tamari</h3>
                            <div>Project Manager e Agilista di nascita </div>
                            <div>Università di Bologna</div>
                            <a href="https://www.linkedin.com/in/matteo-tamari-08bb56138/" class="card-link">Sito personale &raquo;</a>
                                 <hr>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </footer>

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>

</html>